
.day-header {
    text-align: left;
    margin-top: -10px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #424242;
    background: #f6f6f6;
    width: 129px;
    padding: 7px 7px 7px 20px;
    margin-left: -20px;
}


.program-day {
    max-width: 1000px;
    background: white;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 4px 4px 8px #0000000f;
}
.paper-title {
    display: block;
}

.keynote .speaker-name {
    font-weight: 700;
}
.talk-type {
    font-weight: 700;
}

.datetime {
    float: left;
    width: 65px;
}
.datetime > span {
    float: left;
}
.info {
    margin-left: 65px;
    margin-bottom: 20px;
}
.session .speaker-name {
  font-style: italic;
}
.session + .session {
    margin-top: 30px;
}
.session-name {
    font-weight: 700;
    display: block;
}
.session-nb {
    font-weight: 700;
}

.paper {
    margin-left: 65px;
}

.paper:not(:first-child) {
    border-top: 1px #ddd solid;
    padding-top: 5px;
    margin-top: 5px;
}

.break-time {
    background: white;
    margin-top: -33px;
    display: block;
    width: 67px;
}

.coffee-break {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
    /*line-height: 0.1em;*/
    margin-top: 20px;
    margin-bottom: 20px;
}
.coffee-break > span {
    background: #fff;
    padding: 0 10px;
    font-size: 2.2rem;
    margin: 1rem 0 0.6rem 0 !important;
    color: #b5b5b5;
}


.day-selector {
    max-width: 700px;
    background: white;
    padding: 20px;
    margin: 20px auto;
}
.day-selector div {
  cursor: pointer;
  display: inline-block;
  width: 130px;
  padding: 5px;
}
.day-selector div:hover {
  cursor: pointer;
  display: inline-block;
  background: #f8f8f8;
}

.day-selector div.active {
  background: rgba(6, 12, 34, 0.98);
  color: #F7F7F7;
}



.keynote-image {
  float: left;
  width:80px;
  height: 80px;
  overflow:hidden;
  position:relative;
  border-radius:5px;
  margin-right: 10px;
}
.keynote-image img {
  width:80px;
  position:absolute;
}
.keynote {
}
.speaker-affiliation {
}
.speaker-affiliation::before {
  content:" - "
}
.keynote .title {
  display: block;
}
.paper 
{
  position: relative;
}
.paper .time {
  position: absolute;
  left:-65px;
  visibility: hidden
}
.paper:hover .time {
  visibility: visible
}


.open-details {
    width: 30px;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    text-align: center;
    background: #f2f2f2;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 1.2em;
    color: #535353 !important;
}

.details{
  display: none;
}
.details .authors {
  margin-top: 10px;
  margin-bottom: 10px;
}

.youtube-link {
    position: relative;
    width: 30px;
    display: inline-block;
}
.youtube-link a {
    position: absolute;
    top: -18px;
}
.youtube-link a img {
    height: 24px;
}
